.title {
    background-color: rgb(28, 116, 194);
    color: white;
    text-align: center;
}

.ul {
    text-align: center;
    list-style: none;
}

body {
    background-color: rgb(72, 154, 201);
}

#lasagna, #hamburger, #pizza {
    background-color: wheat;
    padding: 10px;

}
